#messageBox{
    width: auto;
    text-align: left;
    height: 160px;
    border: solid;
    white-space: pre-line;
}

#gameBoards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

div:focus{
    outline: none;
}

table {
    margin:0 auto;
    border-spacing: unset;
}

td {
    border: 1px solid rgba(0, 0, 0, .75);
    height: 40px;
    width: 40px;
    font-size: 80px;
    display: inline-block;
    position: relative;
}

canvas {
    margin:0 auto;
    border: 1px solid rgba(0, 0, 0, .75);
    height: 300px;
    width: 300px;
    display: inline-block;
}

#user-board td.exposed:after{
    display: block;
    position: absolute;
    left: 6px;
    top: 6px;
    content: ' ';
    background-image: url('icons/xIcon.svg');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}

#user-board td.exposed.battleshipPlaced:after{
    background-image: url('icons/sniperSightIcon.svg');
}

#user-board td.exposed.lastExposed{
    box-shadow: 0 0 6px 3px #ffff00;
    z-index: 1;
}

.notExposed{
    background: deepskyblue;
}

[class="notSet"]{
    background: deepskyblue;
}

.consideredToContainBattleship{
    background: #ff6e60;
}

.battleshipPlaced.consideredToContainBattleship{
    background: #755353;
}

.battleshipPlaced{
    background: #474747;
}

#opponent-board .notExposed{
    background: white;
}

#opponent-board .notExposed:hover{
    background: lightgray;
}

.exposed{
    background: deepskyblue;
}

.exposed.battleshipPlaced{
    background: #474747;
}