#message-box{
    width: auto;
    text-align: left;
    height: 160px;
    border: solid;
    white-space: pre-line;
}

#game-boards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

div:focus{
    outline: none;
}

table {
    margin:0 auto;
    border-spacing: unset;
}

td {
    border: 1px solid rgba(0, 0, 0, .75);
    height: 40px;
    width: 40px;
    font-size: 80px;
    display: inline-block;
    position: relative;
}

canvas {
    margin:0 auto;
    border: 1px solid rgba(0, 0, 0, .75);
    height: 300px;
    width: 300px;
    display: inline-block;
}

#user-board td.exposed:after{
    display: block;
    position: absolute;
    left: 6px;
    top: 6px;
    content: ' ';
    background-image: url('icons/xIcon.svg');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}

#user-board td.exposed.battleship-placed:after{
    background-image: url('icons/sniperSightIcon.svg');
}

#user-board td.exposed.last-exposed{
    box-shadow: 0 0 6px 3px #ffff00;
    z-index: 1;
}

.not-exposed{
    background: deepskyblue;
}

[class="not-set"]{
    background: deepskyblue;
}

.considered-to-contain-battleship{
    background: #ff6e60;
}

.battleship-placed.considered-to-contain-battleship{
    background: #755353;
}

.battleship-placed{
    background: #474747;
}

#opponent-board .not-exposed{
    background: white;
}

#opponent-board .not-exposed:hover{
    background: lightgray;
}

.exposed{
    background: deepskyblue;
}

.exposed.battleship-placed{
    background: #474747;
}

#alert-modal {
    display: flex;
    position: fixed; /* Stay in place */
    align-content: space-around;
    z-index: 1; /* Sit on top */
    padding-top: inherit; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w*/
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    flex-direction: column;
    text-align: center;
}